body {
		background: #000 url(file:///C:/Users/fixp3/Downloads/fotor_2023-5-24_23_5_7.png); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
	}
